PORT=8870
HOST=localhost
JWTSECRET=your_jwt_secret_here
NODE_ENV=development
DB_LOGS=false

CORS_ORGINS=http://localhost:3000,http://localhost:8870

REDIS_PORT=6379
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=your_redis_password_here

MONGODB_DEV_URI=mongodb+srv://username:password@cluster.mongodb.net/database
MONGODB_PROD_URI=add your production MongoDB URI here

ACCESS_TOKEN_EXPIRE_TIME=30m
REFRESH_TOKEN_EXPIRE_TIME=30d
REDIS_TOKEN_EXPIRE_TIME=2592000
OTP_EXPIRE_TIME=10

SMS_API_KEY=your_sms_api_key_here
SMS_SENDER_ID=your_sender_id_here